<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quizpozarniczy">

    <application>

        <activity android:name=".ShareQuizActivity" />
        <activity android:name=".JudgeActivity" />
        <activity android:name=".QrScannerActivity" />
        <activity android:name=".ResultsActivity" />


        <!-- Jeśli masz inne activity tylko dla full, dodaj je tutaj -->

    </application>

</manifest>
