name: Build APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Set up Gradle 8.2
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: 8.2

      - name: Print SHA-1 fingerprint
        run: |
          keytool -list -v -keystore ~/.android/debug.keystore -storepass android -keypass android


      - name: Signing report + Build debug APK
        run: |
          gradle signingReport --no-daemon
          gradle assembleDebug --no-daemon

      - name: Upload APKs
        uses: actions/upload-artifact@v4
        with:
          name: QuizPozarniczy-APKs
          path: app/build/outputs/apk/
