name: Build APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        flavor: [full, learning]   # iterujemy po wszystkich flavorach

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Set up Gradle
        uses: gradle/gradle-build-action@v3
        with:
          gradle-version: 8.2

      - name: Build APK
        run: gradle assemble${{ matrix.flavor | capitalize }}Debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: QuizPozarniczy-${{ matrix.flavor }}
          path: app/build/outputs/apk/${{ matrix.flavor }}/debug/app-${{ matrix.flavor }}-debug.apk
