name: Build APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Signing report
        uses: gradle/gradle-build-action@v3
        with:
          arguments: signingReport

      - name: Build debug APK
        uses: gradle/gradle-build-action@v3
        with:
          arguments: assembleDebug

      - name: Upload APKs
        uses: actions/upload-artifact@v4
        with:
          name: QuizPozarniczy-APKs
          path: app/build/outputs/apk/
