name: Build APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Install Gradle 8.2
        run: |
          wget https://services.gradle.org/distributions/gradle-8.2-bin.zip
          unzip gradle-8.2-bin.zip
          echo "$PWD/gradle-8.2/bin" >> $GITHUB_PATH

      - name: Show Gradle projects
        run: gradle projects

      - name: Signing report (app module)
        run: gradle :app:signingReport

      - name: Build debug APK (app module)
        run: gradle :app:assembleDebug

      - name: List generated APK
        run: ls app/build/outputs/apk/debug/

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: QuizPozarniczy-APK
          path: app/build/outputs/apk/debug/*.apk
