name: Build APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Set up Gradle
        uses: gradle/gradle-build-action@v3
        with:
          gradle-version: 8.2

      - name: Signing report + Build debug APK
        run: |
          ./gradlew signingReport
          ./gradlew assembleDebug

      - name: Upload APKs
        uses: actions/upload-artifact@v4
        with:
          name: QuizPozarniczy-APKs
          path: app/build/outputs/apk/
